* {
	font-family: 'Roboto';
	font-size: 110%;
}

.ui-autocomplete {
	border: 3px;
}

.profile {
	display: none;
}

li {
	border-bottom: 1px solid black;
	font-size: 75%;	
}

table {
	width: 70%;
}

.main-container {
	margin-top: 10%;
	text-align: center;
	overflow: auto;	
}

.selection-container {
	background-color: red;
	position: relative;
	margin: auto;
	width: 50%;
}

.welcome {
	text-align: left;
	margin-left: 11%;
}

label {
	font-size: 80%
}

#ui-id-1 {
	width: 25%;
}

h3, h5 {

}

